.container{
    background-color: #635757;
    padding: 5px;
    margin: 20px;
    max-width: 420px;
    max-height: 600px;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
}

#output-box{
    font-weight: bold;
    font-size: 20px;
    color: #000;
    width:300px;
    height: 70px;
}

button{
    width: 100px;
    height: 70px;
    box-shadow: 0 0 1px 1px rgba(0,0,0,0.1);
    border-radius: 5px;
    border: none;
    background-color: #b52828;
    color: #fff;
    font-weight: bold;
    font-size: 20px;
}

#btn{
    background-color: #a7cc14;
    color:#fff;
}

button:active{  
    transform: scale(0.98);
    box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
}